body {
  font-family: Georgia;
  background-color: #000000;
}

/*<-----------Intro Form Styling--------->*/

@font-face {
  font-family: openingFont;
  src: url(Awesome_South_Korea.ttf);
}

.jumbotron {
  text-align: center;
  background-color: #191512;
  color: #FFFFFF;
  margin: 0px;
}

h3 {
  font-size: 18pt;
}

h4 {
  font-weight: bold;
  font-size: 20pt;
  text-align: center;
}

p {
  font-size: 20pt;
}

.input-text {
  font-size: 13pt;
  background-color: #191512;
  color: #FFFFFF;
}

.pet-label {
  margin-top: 30px;
}

#intro-form {
  height: 500px;
}

#intro-img {
  background-image: url("../img/girl-intro-wallpaper.jpg");
  height: 100vh;
  background-size: cover;
}

/*<-----------Decisions Styling--------->*/

#sidebar {
  color: #FFFFFF;
  background-color: #000000;
  height: 100vh;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 150px;
  position: fixed;
}

.decision-content {
  margin-right: 3%;
  margin-left: 100px;
  color: #FFFFFF;
}

.result-content-center {
  text-align: center;
}

#decision1, #decision-2a, #decision-2b,#segway-2b, #result1, #result2, #result3, #result4, #result5, #result6, #result7, #result8, #result9, #decision-3a, #decision-3b, #decision-3c, #reset, #result-total, #dad, #sidebar, #travel {
  display: none;
}

.page-header {
  margin-top: 200px;
  font-size: 55pt;
  text-align: center;
}

#h1 {
  font-size: 100pt;
  font-family: openingFont;
}

.decision-images {
  background-size: cover;
  width: 100%;
  margin-left: 50px;
}

/*<-----------Btns Styling--------->*/

.btn-begin {
  margin-top: 30px;
  font-size: 25pt;
  color: #FFFFFF;
  background-color: #420407;
  margin-bottom: 150px;
}

.btn-begin:hover {
  color: #F4F4F4;
}

.btn-reset {
  margin-left: 45%;
}

/*<-----------Pets & Personalities Styling--------->*/

.dogPet, .catPet, .lizardPet, .personality-shy, .personality-calm, .personality-angry, #dogIcon, #catIcon, #lizardIcon, #sewingKit, #locket, #luckyRock, #happy, #sad, #chill {
  display: none;
}

#pname-h2 {
  font-size: 35pt;
}

h2 {
  text-align: center;
}

h5 {
  font-size: 18pt;
  text-align: center;
  padding-top: 25px;
}

#petIcon {
  padding-top: 25px;
}

.icons {
  width: 100%;
  padding-top: 50px;
}
